<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset-password.css">
    <title>Reset Password</title>
</head>
<body>
    <nav>
        <h1 class="logo">DaleWears <p class="easy">...making you comfy</p></h1>
    </nav>
    <div class="container">
        <h1>Reset Your Password</h1>
        <form action="/reset-password" method="POST">
            <input type="hidden" name="email" value="<%= email %>">
            <div class="input-container">
                <label for="password">New Password:</label>
                <input type="password" name="password" required>
            </div>
            <div class="input-container">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
