<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/subscribe.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>Subscribe - DaleWears</title>
    </head>
    <body>
        <%- include('partials/header') %>

        <h2>Thank you for Subscribing to our Newletter, <%= username %>!
            <p>Get ready to be updated on our product changes </p>
        </h2>
        
        <%- include('partials/footer') %>

        <script>
            document.querySelector('.hamburger').addEventListener('click', () => {
               document.querySelector('.nav-links').classList.toggle('active');
           });
       </script>
    </body>
    </html>
